angular.module('arpWebApp')
  .constant('ENV', {
    name: 'production',
    apiEndpoint: '/arp-api',
    roleTypes: {
      RW: 'qat-autoreplenish-enduser-rw',
      RO: 'qat-autoreplenish-enduser-ro'
    }
  });

